* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'inter', sans-serif;
}
.container {
    background-color: #1a1a1a;
    padding-top: 0;
    margin: 0;

}
.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 32px 120px;
    background-color: #1a1a1a;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.hero_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    
    background-image: url(/src/assets/hero\ image.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.hero_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
}
#hero_text_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 250px 0;
    margin: 0;
    color: white;
    z-index: 2;
    position: relative;
    width: fit-content;
}
#hero_text_container h2{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}
#hero_text_container p{
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    margin: 0;
    line-height: 1.5;

}
ul {
    display: flex;
    gap: 32px;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}
.Header img{
    height: 32px;
    width: 100px;
}
#nav_links a {
    text-decoration: none;
    transition: 0.5s;
}
#nav_links a:hover {
    color: rgb(155, 60, 245);
}
.CTA{
    background-color: rgb(43, 3, 80);
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: fit-content;
    color: rgb(244, 243, 245);
    font-weight: bold;
    border-radius: 8px;
    border: 2px solid white;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
    margin: 0;
    cursor: pointer;
}
.CTA:hover {
    background-color: rgb(248, 248, 248);
    color: rgb(43, 3, 80);
    transition: 0.5s;
    border-color: rgb(43, 3, 80);
    border: 2px solid;
  
}
.CTA .material-symbols-outlined{
    width:0x;
    height: 0px;
    font-size: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
}
.CTA:hover .material-symbols-outlined {
    width: 24px;
    height: 24PX;
    font-size: 24PX;
    opacity: 1;
    color: inherit;
}
.hamburger {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: none;
}
#bar {
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
    transition: 0.3s;
}
#buttons{
    display: flex;
    flex-direction: row;
    gap: 0;
}

@media (max-width:786px) {
    .hamburger {
        display: flex;
        color: white;
    }

    #nav_links {
        position: fixed;
        right: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #1a1a1a;
        width: 20%;
        height: 100%;
        transition: 0.3s;
        padding: 10px;
    }
    #nav_links.active{
        right: 0;
    }
}
#stacks_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 200px;
    margin: 0;
    border: 2px solid white;
    width: 80%;
    align-self: center;
    border-radius: 8px;
    z-index: 2;
}
.stack{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    
}
.stack img {
    width: 32px;
    height: 32px;
}
/*about me*/
.about_me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    background-color: #1a1a1a;
    margin: 0;
    padding: 32px 120px;
}
.about_me img {
    height: 600px;
    width: 450px;
    border-radius: 16px;
}
#about_me_text{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-items: center;
    align-self: center;
}
#about_me_text h3{
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
#about_me_text p{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}